<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0">

    <display-name>ConsultaSuper</display-name>

    <!-- Servlet para inicialización de la conexión a la base de datos -->
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.init.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Servlet para el listado de clientes -->
    <servlet>
        <servlet-name>ListadoClientesServlet</servlet-name>
        <servlet-class>com.servlets.ListadoClientesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListadoClientesServlet</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>

    <!-- Servlet para el listado de productos -->
    <servlet>
        <servlet-name>ListadoProductosServlet</servlet-name>
        <servlet-class>com.servlets.ListadoProductosServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListadoProductosServlet</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>

    <!-- Servlet para el listado de ventas -->
    <servlet>
        <servlet-name>ListadoVentasServlet</servlet-name>
        <servlet-class>com.servlets.ListadoVentasServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListadoVentasServlet</servlet-name>
        <url-pattern>/ventas</url-pattern>
    </servlet-mapping>

    <!-- Página de bienvenida -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
